.hero-info {
    height: 60vh;
    background-image: url("/assets/fotanen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 7px solid  #000000; 
}

.hero-info::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(7, 42, 17, 0.55);
    z-index: 0;
}

.hero-info-content {
    position: relative;
    z-index: 2;
    height: calc(60vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.hero-info-content img{
    height: auto;
    width: 250px;
}

.hero-content h1 {
    color: #ffffff;
    letter-spacing: 5px;
    -webkit-text-stroke: 3px #000000;
}

.hero-content h2 {
    margin-top: 10px;
    color: #ffffff;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #000000;
}

.nav-links {
    background-color: #05401C;
}

.container-info{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    height: auto;
    width: 100%;
    padding: 2rem 4rem;
    border-bottom: 7px solid #10803B;
}
.container-info-no-border{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    height: auto;
    width: 100%;
    padding: 2rem 4rem;
}

.container-text{
    justify-content: center;
    align-content: center;

}

.container-info > img{
    width: auto;
    height: 180px;
    object-fit: cover;
    place-self: center;
}

.origo-button{
    background-color: #6A90B3;
}

.origo-button:hover{
    background-color: #031D44;
    text-decoration: underline;
}

.container-info-no-border > img{
    width: auto;
    height: 265px;
    object-fit: cover;
}

.footer{
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
    margin: -2px 0px;
}

.footer-info{
    justify-content: center;
    align-content: center;
    align-self: center;
}

.bild{
    place-self: center;

}
.bild img{
    width: auto;
    height: 265px;
    object-fit: cover;
    border: 3px solid #000000;
}

.formular{
    display: flex;
    place-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.formular form{
    border: 3px solid #000000;
    margin: 2rem;
    width: 330px;
    height: auto;
    padding: 10px;
}

.formular input{
    width: 300px;
    height: auto;
}

@media (max-width: 900px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 22px;
    }

    .hero-content img{
        width: 150px;
        height: auto;
    }

    .container-info{
        grid-template-columns: 1fr;
    }

    .container-info-no-border {
        grid-template-columns: 1fr;
    }

    .container-info img{
        height: auto;
        float: none;
        width: 100%;
        margin: 20px 0;
    }

    .container-info-no-border img {
        float: none;
        height: auto;
        width: 100%;
        margin: 20px 0;
    }
}

@media (max-width: 600px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }

    .hero-content img{
        height: auto;
        width: 100px;
    }

    p {
        font-size: 16px;
    }

    .container-info{
        grid-template-columns: 1fr;
    }

    .container-info-no-border {
        grid-template-columns: 1fr;
    }

    .container-info img{
        float: none;
        height: auto;
        width: 100%;
        margin: 10px 0;
    }

    .container-info-no-border img {
        float: none;
        width: 100%;
        margin: 10px 0;
    }

}


